.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*.swp
*.swa
*~
dmoj/local_settings.py
resources/style.css
resources/content-description.css
resources/ranks.css
resources/table.css
resources/martor-description.css
sass_processed

<desired bridge log path>
judge/config.yml
*/**/migrations/
node_modules/
package-lock.json
uwsgi.ini
websocket/config.js

