<html>
	<head>
		<link rel="stylesheet" href="{{ static('login.css')}}">
	</head>
	<body>
	
		<div class="main">
	    <div id="login-panel">
		<form action="" method="post" class="form-area">
		    {% csrf_token %}
		    {% if form.errors %}
			<div id="form-errors">
			    <p class="error">{{ _('Invalid username or password.') }}</p>
			</div>
		    {% endif %}
		    <div class="form-inputs">
			<div class="form-input">
			    {{ form.username }}
			</div>
			<div class="form-input">
			    {{ form.password }}
			</div>
		    </div>

		    <div class="form-forgot">
			<a href="{{ url('password_reset') }}">{{ _('Forgot your password?') }}</a>
		    </div>

		    <div class="form-submit">
			    <button type="submit">{{ _('Log In') }}</button>
		    </div>
		    <input type="hidden" name="next" value="{{ next }}">
		</form>
	    </div>
		</div>
	    <div class="footer">
	    </div>
	</body>
