<html>
	<head>
		<link rel="stylesheet" href="{{ static('login.css')}}">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,800' rel='stylesheet'>
	</head>
	<body>
	
	    <div class="form-logo">
		    <img src="{{static('logo.png')}}" alt="Logo">
	    </div>
	<div class="main">
	    <div id="login-panel">
		    {% block login_panel%}
		    <div class="login-panel-header">
			    Log In
		    </div>
		<form action="" method="post" class="form-area">
		    {% csrf_token %}
		    {% if form.errors %}
			<div id="form-errors">
			    <p class="error">{{ _('Invalid username or password.') }}</p>
			</div>
		    {% endif %}
		    <div class="form-inputs">
			<div class="form-input">
			    {{ form.username }}
			</div>
			<div class="form-input">
			    {{ form.password }}
			</div>
		    </div>

		    <div class="form-forgot">
			<a href="{{ url('password_reset') }}">{{ _('Forgot your password?') }}</a>
		    </div>

		    <div class="form-submit">
			    <button type="submit">{{ _('Log In') }}</button>
		    </div>
		    <input type="hidden" name="next" value="{{ next }}">
		</form>
		{% endblock %}
	    </div>
	</div>
	    <div class="footer">
	    </div>
	</body>
