{% extends "registration/login.html" %}

{% block login_panel %}
    {% if validlink %}
    		<style>
			.errorlist{
				font-size: 13px;
				max-width: 280px;
				color: red;
				margin-bottom: 20px;
			}

		</style>

		<div class="panel-header">
			Password Reset
		</div>

	    <form action="" method="post" class="form-area">{% csrf_token %}
		    {{form.errors}}
		    <div class="form-inputs">
			<div class="form-input">
				<input type="password" name="new_password1" placeholder="New Password">
			</div>
			<div class="form-input">
				<input type="password" name="new_password2" placeholder="Repeat New Password">
			</div>
		    </div>
			    <div class="form-submit">
				<button type="submit" class="form-button">{{ _('Change Password') }}</button>
			    </div>
	    </form>
    {% else %}
        <p>Invalid password reset link.</p>
    {% endif %}
{% endblock %}
